doctype html
html
    head
        title= title
        link(rel='stylesheet', href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css")
        link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
        script(src='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2')
    body
        block content
